@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --main-bg-color: #F3F5FC;
    --main-color: #0a3871;

    --white-color: white;

    --textarea-bg: #ffffff00;

    --texto-saida-color: #495057;

    --error-color: rgb(255, 55, 55);

    --box-shadow-color: rgba(0, 0, 0, 0.18);
}

.dark-mode:root {
    color: white;
    --main-bg-color: #1e294d;
    --main-color: #5299F1;

    --white-color: #121212;

    --textarea-bg: #ffffff00;

    --texto-saida-color: #c6c6c6;

    --error-color: rgb(255, 55, 55);

    --box-shadow-color: rgba(0, 0, 0, 0.18);

    svg path{
        fill: white;
    }
}

* {
    clear: both;
    scrollbar-width: thin;
    margin: 0px;
    padding: 0px;
}

*,
:before,
:after,
::before,
::after {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 2px;
}


body {
    background-color: var(--main-bg-color);
}

textarea {
    font-family: 'Inter', sans-serif;
    border: none;
    resize: none;
    margin: 3rem 2rem 2rem 5rem;
    background-color: var(--textarea-bg);
    color: var(--main-color);
    height: 80%;
    width: 100%;
    white-space: break-spaces;
}

svg {
    width: 7.5rem; 
    align-self: flex-start;
}

#saida {
    border-radius: 32px;
    background-color: var(--white-color);
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow-color) 0px 5px 15px;
}

.saida_texto {
    font-size: 24px;
    color: var(--texto-saida-color);
    width: 80%;
}

#mensagem_erro {
    color: var(--error-color);
    font-weight: bolder;

}

#copiar {
    width: 80%;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    background-color: var(--white-color);
    margin-bottom: 1rem;
}

.base {
    padding: 2rem;
}

.container {
    display: flex;
    flex-flow: row;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: space-around;
}

.container-top{
    display: flex;
    flex-flow: row;
    flex-flow: row wrap;
    gap: 40px;
    justify-content: space-between;
}

.botao {
    border-radius: 24px;
    text-align: center;
    padding: 1.5rem 0px 1.5rem 0px;
    color: var(--texto-saida-color);
    border: 1px solid var(--main-bg-color);
    background-color: var(--main-bg-color);
    width: auto;
    cursor: pointer;
}

.dica {
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem;
}

.imagem_dica {
    width: 16px;

}

.dica_texto {
    color: var(--texto-saida-color);
    font-size: 12px;
}

label {
    width: 50px;
    height: 35px;
    display: block;
    position: relative;
    background: var(--white-color);
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px var(--box-shadow-color), inset 0px -5px 15px rgba(255, 255, 255, 0.099);
    cursor: pointer;
}

label:after{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
    left: 1px;
    background: linear-gradient(180deg, #ffd9a7, #feb23f);
    border-radius: 180px;
}

input{
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label{
    background: #242424;
}

input:checked +label:after{
    left: 15px;
    transform: translateX(4px);
    background: linear-gradient(270deg, #777,#3a3a3a);
}

label, label:after{
    transition: 0.3s;
}

label:active:after{
    width: 20px;
}

.botoes_acao {
    padding-bottom: 1rem;
}

#criptografar {
    width: 45%;
    background-color: var(--main-color);
    color: var(--main-bg-color);

    &:hover {
        background-color: #598ac7;
    }
}

#descriptografar {
    width: 45%;
    color: var(--main-color);
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-color);
}

.imagem_inicial {
    padding-top: 27%;
    max-height: 50%;
}

.saida_texto_inicial {
    font-family: 'Inter', sans-serif;
    padding: 0% 0% 60% 5%;
    text-align: center;
}

#saida_texto_inicial_top {
    font-size: 1.5rem;
    font-weight: bold;
}

.saida_text_inicial_bottom {
    font-size: 1rem;
    font-weight: normal;
}

#mensagem {
    font-size: 32px;
    width: 80%;
    text-align: left;
    flex-grow: 1;
    padding-right: 1rem;
    white-space: break-spaces;
}

#mensagem:focus {
    outline: none !important;
    border: 0px;
}

.botoes_acao {
    display: flex;
    flex-flow: row;
    gap: 24px;
}

#painel_esquerdo {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-flow: column;
    height: 90vh;
    width: 80vh;
}

#painel_direito {
    display: flex;
    font-family: 'Inter', sans-serif;
    align-self: flex-start;
    height: 90vh;
}

@media (max-width:649px) {

    svg {
        margin-left: -3rem;
    }

    .container-top {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .container {
        display: flex;
        flex-flow: column;
        gap: 10px;
        padding: 1rem;
        justify-content: space-around;
    }

    #mensagem {
        font-size: 12px;
        width: 90%;
        text-align: left;
        flex-grow: 1;
        padding-right: 1rem;
        white-space: break-spaces;
    }

    textarea {
        font-family: 'Inter', sans-serif;
        border: none;
        resize: none;
        margin: 2rem 2rem 2rem 2rem;
        height: 80%;
        width: 100%;
        white-space: break-spaces;
    }

    .botoes_acao {
        display: flex;
        flex-flow: column;
        justify-content: space-between;

    }

    #criptografar {
        width: 100%;
    }

    #descriptografar {
        width: 100%;
    }

    #saida {
        border-radius: 32px;
        height: 80%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #mensagem {
        font-size: 32px;
        width: 70%;
        text-align: left;
        flex-grow: 1;
        padding-right: 1rem;
        white-space: break-spaces;
    }

    #painel_direito #painel_esquerdo {
        display: flex;
        font-family: 'Inter', sans-serif;
    }

    #painel_direito {
        align-self: flex-start;
        height: 50vh;
        width: 40vh;
    }

    #painel_esquerdo {
        flex-flow: column;
        height: 49vh;
        width: 40vh;
    }
}

@media (min-width: 650px) and (max-width:749px) {
    .container {
        display: flex;
        flex-flow: column;
        gap: 10px;
        padding: 1rem;
        justify-content: space-around;
        width: 70vh;
    }

    .botoes_acao {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 95%;
    }

    #criptografar {
        width: 100%;
    }

    #descriptografar {
        width: 100%;
    }

    #painel_esquerdo {
        font-family: 'Inter', sans-serif;
        display: flex;
        flex-flow: column;
        /* height: 90vh; */
        width: max-content;
    }

    #painel_direito {
        display: flex;
        font-family: 'Inter', sans-serif;
        align-self: flex-start;
        height: 90vh;
        width: 55vh;
    }

    #saida {
        border-radius: 32px;
        /* background-color: var(--main-bg-color); */
        height: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #mensagem {
        font-size: 32px;
        width: 70%;
        text-align: left;
        flex-grow: 1;
        padding-right: 1rem;
        white-space: break-spaces;
    }
}

@media (min-width: 750px) and (max-width:900px) {
    .container {
        display: flex;
        flex-flow: column;
        gap: 10px;
        padding: 1rem;
        justify-content: space-around;
        width: 70vh;
        align-items: first baseline;
    }

    #mensagem {
        height: 80%;
        text-align: left;
        align-self: center;
    }

    #saida {
        height: 50%;
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-self: flex-start;
    }

    .botoes_acao {
        display: flex;
        flex-flow: row;
    }

    .saida_texto {
        font-size: 24px;
        width: 94%;
    }

    .saida_texto_inicial {
        font-family: 'Inter', sans-serif;
        text-align: center;
        max-width: 400px;
        margin-bottom: -50%;
    }

    .imagem_inicial {
        padding-top: 1rem;
        max-width: 400px;
    }

    #painel_esquerdo {
        font-family: 'Inter', sans-serif;
        display: flex;
        flex-flow: column;
        height: 90vh;
        width: 70vh;
    }

    #painel_direito {
        display: flex;
        font-family: 'Inter', sans-serif;
        width: 100%;
        margin-bottom: -45%;
    }

}